schema/Undertale.rnc

start = map
map = element map { name, setting+, path* }
path = element path { route, conditions*, setting*, sp*, option* }
route =
    attribute route {
        list { ("pacifist" | "neutral" | "genocide")* }
    }
setting = element setting { name, (sp | choice | option | battle | conditions | path)* }
name =
    attribute name {
        "Waterfall"
        | "Ruins"
        | "FloweyHall"
        | "RuinsEntrance"
        | "1stPuzzleRoom"
        | "LablledSwitchRoom"
        | "DummyRoom"
        | "1stMonsterBattle"
        | "SpikedTileRoom"
        | "IndependenceHallway"
        | "LeafPileSaveRoom"
        | "MonsterCandyRoom"
        | "1stRockPuzzle"
        | "DontStepOnTheLeavesRoom"
        | "2ndCrackedTileRoom"
        | "2ndRockPuzzleRoom"
        | "TableWithCheeseRoom"
        | "NapstablookRoom"
        | "SpiderBakeSale"
        | "FroggitHallway"
        | "SixHolesRoom"
        | "SixSwitchesPuzzle"
        | "AsrielsRoom"
        | "SwitchesRoom"
        | "FroggitNearToyKnife"
        | "ToyKnifeRoom"
        | "BlackTreeRoom"
        | "EntranceToTorielsHome"
        | "TorielsHome"
        | "TorielsLivingRoom"
        | "Kitchen"
        | "Bedrooms"
        | "TorielsRoom"
        | "Basement"
        | "TorielBossRoom"
        | "FloweyExitHall"
        | "OutsideRuinsDoor"
        | "SansHallway"
        | "MeetingSans"
        | "MeetingPapyrus"
        | "AfterPapyrus"
        | "SavePoint"
        | "FishingPoleRoom"
        | "SansAndPapyrus"
        | "PapyrusStation"
        | "DoggoStation"
        | "SlipperyIceRoom"
        | "SnowmanRoom"
        | "ElectricMazeRoom"
        | "BallGameRoom"
        | "DogiStation"
        | "CrosswordRoom"
        | "SpaghettiRoom"
        | "DogiArena"
        | "1stXOPuzzle"
        | "2ndXOPuzzle"
        | "ColoredTilePuzzle"
        | "LesserDogStation"
        | "PapyrusAndSansSnowmen"
        | "GyftrotRoom"
        | "MysteriousDoorRoom"
        | "DevelopersRoom"
        | "GreaterDogStation"
        | "GauntletOfDeadlyTerror"
        | "RockFamily"
        | "SnowdinTown"
        | "SnowdinShop"
        | "SnowedInn"
        | "Grillbys"
        | "Librarby"
        | "PapyrusAndSansHouse"
        | "PapyrusRoom"
        | "PapyrusArena"
        | "SansStation"
        | "SnailFarm"
        | "NapstablookHouse"
        | "FallingRocks"
        | "TutuRoom"
        | "1stUndyneEncounter"
        | "1stBridgeSeedRoom"
        | "2ndBridgeSeedRoom"
        | "QuicheRoom"
        | "WishingRoom"
        | "HistoryPlaque"
        | "SeaWeedHidingSpot"
        | "MouseRoom"
        | "SansTelescopeRoom"
        | "UndyneHouse"
        | "Undyne"
        | "WaterRoom"
        | "SavePointRoom"
        | "RiverPersonRoom"
        | "AlphysLab(Dark)"
        | "AlphysBedroom"
        | "HallwayOutsideOfLab"
        | "SplitBeamsHall"
        | "SteamVentRoom"
        | "FrypanRoom"
        | "LaserPuzzle"
        | "ShootingPuzzleBeginning"
        | "WorkingMonsters"
        | "ShootingPuzzle1"
        | "SchoolKids"
        | "ShootingPuzzle2"
        | "VentsBeforeMettaton"
        | "CookingWithAKillerRobot"
        | "FirstCoreView"
        | "ElevatorR1"
        | "ElevatorR2"
        | "SansHotdogStation"
        | "HotPicsHallway"
        | "soSorryRoom"
        | "ApronRoom"
        | "ConveyorPuzzle"
        | "SwitchVentPuzzle"
        | "CheeseRoom"
        | "RoyalGuards"
        | "2ndCoreView"
        | "MettatonNewsReport"
        | "L3Elevator"
        | "FinalVentPuzzle"
        | "ShootingPuzzle3"
        | "LasersAndFlower"
        | "FinalShootingPuzzle"
        | "SpiderSavePoint"
        | "MuffetArena"
        | "MettatonPoster"
        | "MettatonOpera"
        | "TilePuzzle"
        | "ElevatorR3"
        | "NiceCreamGuy"
        | "ResortEntrance"
        | "CattyAndBattysShop"
        | "HotelLobby"
        | "HotelBedroom"
        | "BurgerpantsShop"
        | "HotelRooms"
        | "Restaurant"
        | "CoreEntrance"
        | "mettatonRoom"
        | "newHomeView"
        | "asgore'sFoyer"
        | "livingRoom"
        | "kitchen"
        | "bedroom"
        | "asgore'sRoom"
        | "children'sRoom"
        | "coffins"
        | "judgmentHall"
        | "throneRoomEntrance"
        | "throneRoom"
        | "theEnd"
        | "barrier"
        | "flowey"
        | "flowey'sSaveFile"
        | "alphys'sLabPostMettaton"
        | "bedrooms"
        | "Snowdin"
        | "core"
        | "newHome/DreemurrCastle"
        | "Hotland"
        | "TorielFight"
        | "PapyrusFight"
        | "FinalUndyneEncounter"
        | "waterRoom"
        | "MeetingAlphys"
        | "MeetingMettaton"
        | "CattyAndBrattysShop"
        | "ElevatorRoom"
        | "FlamingPitRoom"
        | "AmbushedHallway"
        | "LaserHallway"
        | "BranchingHallway"
        | "OptionalEncounterRoom"
        | "MalfunctioningLaserRoom"
        | "EastAndWestPanelRoom"
        | "PanelBeforeShootingPuzzle"
        | "ShootingPuzzle"
        | "SnackRoom"
        | "NorthHallway"
        | "2ndNorthHallway"
        | "EastPathwayPanelsRoom"
        | "100G Trashcan"
        | "RoomBeforeMettaton"
        | "MettatonRoom"
        | "MettatonRoom(WonViaRatings)"
        | "MettatonRoom(MettatonKilled)"
        | "AlphyssConfessionHallway"
    }
sp = element sp { (speaker | to)*, (box | choice | conditions | option)* }
# added conditions to the sp element. -bobbyfunks.
speaker =
    attribute speaker {
        list {
            ("game"
            | "sign"
            | "determination"
            | "cellPhone"
            | "Flowey"
            | "Toriel"
            | "Froggit"
            | "Froggit1"
            | "Froggit2"
            | "Froggit3"
            | "rock1"
            | "Napstablook"
            | "Sans"
            | "Papyrus"
            | "Doggo"
            | "Snowman"
            | "NiceCreamGuy"
            | "crossword"
            | "Dogi"
            | "Faun"
            | "KidSlime1"
            | "KidSlime2"
            | "DadSlime"
            | "someone"
            | "RabbitKid"
            | "RabbitGirl"
            | "GiftBear"
            | "MonsterKid"
            | "PoliticsBear"
            | "ScarfMouse"
            | "NacaratJester"
            | "Undyne"
            | "SnowdinShopkeeper"
            | "InnKeeper"
            | "InnKeeprsKid"
            | "DrunkBun"
            | "BigMouth"
            | "PunkHamster"
            | "Grillby"
            | "RedBird"
            | "UglyFish"
            | "LibraryLizard"
            | "ScarfLady"
            | "LadyGarf"
            | "LibraryLoox"
            | "Snowdrake"
            | "RoyalGuard"
            | "SoSorry"
            | "Alphys"
            | "Sans"
            | "Mettaton"
            | "Asgore"
            | "EchoFlowerExplainer"
            | "EchoFlower"
            | "telescope"
            | "bench"
            | "ferry"
            | "cheese"
            | "ClamGuy"
            | "RiverPerson"
            | "BusinessDudes"
            | "FoxHead"
            | "FukuFire"
            | "SkateboardGirl"
            | "HeatsFlamesman"
            | "HotDogHarpy"
            | "HotDogVulkin"
            | "Muffet"
            | "ScaredDonutGuy"
            | "DiamondBoy1"
            | "DiamondBoy2"
            | "DressLion"
            | "Bratty"
            | "Catty"
            | "DiamondReceptionist"
            | "puzzle"
            | "you")*
        }
    }+
to = attribute to {list{ ("you" | "Sans" | "Papyrus" | "Undyne" | "Alphys" | "Mettaton" | "Doggo" | "Dogi")* }}
choice = element choice { (option | box | sp | text)* }
option = element option { what, (sp | box | choice | pathChange | conditions)* }
pathChange = element pathChange { (fromRt | toRt)*, sp* }
fromRt = attribute fromRt { "pacifist" | "genocide" }
toRt = attribute toRt { "neutral" }
battle = element battle { name, (sp | choice)* }
conditions =
    element conditions {
        (killed
         | spared
         | fought
         | holding
         | equipped
         | spearsdodged
         | ferry
         | taken
         | timesTalkedTo
         | timesKilled
         | timesSpared
         | timesPlayed
         | pastRoute
         | what
         | puzzle)*,
        (box | choice | sp)*
    }
timesTalkedTo = attribute timesTalkedTo { xsd:integer }
timesKilled = attribute timesKilled { xsd:integer }
timesSpared = attribute timesSpared { xsd:integer }
equipped = attribute equipped { text }
taken = attribute taken { text }
spearsdodged = attribute spearsdodged { "enough" | "notEnough" }
ferry = attribute ferry { text }
holding = attribute holding { text }
killed = attribute killed { text }
spared = attribute spared { text }
fought = attribute fought { text }
box = element box { n, (speaker | to | option)*, text }
# ebb: We need Schematron to refine this.
# ebb: REFINE THIS with specific values.
# ebb: REFINE THIS with specific values.
n = attribute n { xsd:integer }
# ebb: REFINE THIS with specific values. (Same as the who attribute?)
what = attribute what { "gameNarr" | "gameSave" | "kill" | "spare" | "gamePlay" }
# Switched use of "gameNarr" to "gamePlay" to highlight player interaction to induce dialogue. -bobbyfunks
timesPlayed = attribute timesPlayed { xsd:integer }
pastRoute =
    attribute pastRoute {
        list { ("pacifist" | "neutral" | "genocide")* }
    }
puzzle = attribute puzzle { "solved" | "failed" }
# puzzle attribute added as a catch-all for any puzzle in the game. -bobbyfunks
# what attribute values: We're trying to keep these simple: 
# what="gameNarr" is the computer game guiding your interaction with characters or objects
# what="gameSave" marks all the save moments, which are important because here the computer makes an assessment of your game route/
# what="kill" is simply the decision to kill
# what="save" is the decision to save

# OLD SWAMP OF WHAT VALUES PRESERVED FOR POSTERITY AND AMUSEMENT ;-) what = attribute what {list{("select" | "Yeah" | "Im_busy" | "TakeIt" | "LeaveIt" | "ReadSign" | "Yes" | "No" |  "Talk" |  "talkTo" | "saveGame" | "HPRestore" | "C_Or_Control" | "run" | "kill" | "spare" | "killedBefore" | "sparedBefore" | "read" | "bored" | "Cinnamon" | "Bscotch" | "killedMonstersSparedToriel" | "KillSpareKillToriel" | "killTorielThree+Times" | "killedThenSparedToriel" | "sparedThenKilledToriel" | "killedTorielTwice" | "re-fight" | "ItemFull" | "NotEnoughG" | "blueSwitch" | "yellowSwitch" | "redSwitch" | "foundBlueSwitch" | "foundGreenSwitch" | "PressingTheSwitchesTooManyTimes" | "fullHP" | "wounded" | "2HPorLess" | "readBook" | "pie" | "runAwayFromToriel" | "beforeTryingToLeave" | "beforeTorielShowsYourRoom" | "beforeAskingToExitTheRuins" | "1stPart" | "2ndPart" | "3rdPart" | "runAway" | "killToriel")*}} 
